<div class="container" ng-controller="addRecords" ng-init="successMsg=false">
  <h2>Add New Employee  Record</h2>
  <div ng-if="successMsg">
    <div class="alert alert-success">
      <strong>This Record is Added , add another record.</strong>
    </div>
  </div>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" ng-model="name" placeholder="Enter Name" name="name" ng-init="successMsg=false">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" ng-model="email" placeholder="Enter email address" name="email" ng-init="successMsg=false">
    </div>

    <div class="form-group">
      <label for="mob">Mobile Number:</label>
      <input type="number" class="form-control" ng-model="number" placeholder="Enter Mobile Number" name="num" ng-init="successMsg=false">
    </div>

    <div class="form-group">
      <label for="designation">Designation</label>
      <input type="text" class="form-control" ng-model="designation" placeholder="Enter designation" name="designation" ng-init="successMsg=false">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <textarea class="form-control" id="email" placeholder="Enter Address" ng-model="address" name="address" ng-init="successMsg=false"></textarea>
    </div>


    <button type="button" class="btn btn-success" ng-click="addRecord()">Add Record</button>
  </form>

</div>
